<!DOCTYPE html>
<head>
	<!-- Latest compiled and minified CSS -->
 +	<link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 +
 +	<!-- jQuery library -->
 +	<scriptsrc="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 +
 +	<!-- Latest compiled JavaScript -->
 +	<scriptsrc="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 +
 +	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About</title>
</head>
<body>
	<h1> About the Website</h1>
	<p>Hi! I'm Ben and this is the website I made for my final project in <abbr title = "Middle East Entrepreneuers of Tomorrow">MEET</abbr> and I hope you like it!.  </p>
	</body>