<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">

	<!-- Latest compiled and minified CSS -->
 	<link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
 	<!-- jQuery library -->
 	<scriptsrc="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
 	<!-- Latest compiled JavaScript -->
 	<scriptsrc="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About</title>
</head>
<body id = 'aboutUs'>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="home">Play the Game!</a>
	    </div>
	    <ul class="nav navbar-nav">
	    	<li><a href="aboutUs">About Us</a></li>
	    	<li><a href="logout">Logout</a></li>
	    	
	    </ul>
	  </div>
	</nav>
	<br><br><br>
	<h2>Hi! I'm Ben. This is the website I made for my final project in <abbr title = "Middle East Entrepreneuers of Tomorrow">MEET</abbr>. Hope you like it! </h2>
	<br><br>
	<p class ='info'> From when I was a little kid, I have always been facinated by space and space exploration. That's why I decided that for my Y2 project, I will make a space themed website. Making the game was a lot of fun, and I hope I'll be able to pass on the fun to you all!</p>
	</body>