<!DOCTYPE html>
<html>
<head>
<script src="../static/js/game.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/style.css">

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<script src="../static/js/game.js"></script>
</head>
<body onload="startGame()">
<h1> Hello {{user.name}}</h1>
<p>Your HS is: {{user.highScore}}</p>
<h1>Gentle clicks youngling</h1>

<form>
<input type = "number" name = "user_score" value = {{user.highScore}}>
</form>

</body>
</html>
