<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 +
 +	<!-- jQuery library -->
 +	<scriptsrc="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 +
 +	<!-- Latest compiled JavaScript -->
 +	<scriptsrc="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 +
 +	<meta name="viewport" content="width=device-width, initial-scale=1">
<title>My Website</title>
</head>
<body>
	<div class = "page-header">
<h1>Game On</h1>
</div>
<div class = "alert alert-info alert-dismissable">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

	In the near future you will be able to play Space Invaders!
</div>
<p>In this website you will be able to play one of the most popular Arcade Games!</p>
<button data-toggle="collapse" data-target="#gameName">Find Out which game!</button>

<div id = "gameName" class = "collapse">
	<h2>Space Invaders!</h2></div>

	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="home.html">website brand</a>
	    </div>
	    <ul class="nav navbar-nav">
	    	<li><a href="creat_this_website.html">How to create this website</a></li>
	    	<li><a href="contact.html">Contact</a></li>
	      	<li class="active"><a href="">About</a></li>
	    </ul>
	  </div>
	</nav>
	

</body>
</html>