<!DOCTYPE html>
<head>
<Title>Welcome!</Title>
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
	<div id = "register">
<h1 class = 'instructions'>Sign Up!</h1>
<!--Sign up form-->
<form action = "{{url_for('game')}}" method="post">
  <input type="text" name="user_name" placeholder="Enter your Full Name" >
  <br>
  <br>
  <input type="text" name="user_email" placeholder="Enter your E-Mail"> 
  <br>
  <br>
  <input type="password" name ="user_pwd" placeholder="Enter your Password">
  <br><br>
  <input type="submit" value="Submit">



</form>
<h1 id ="explore">Ready to Explore?</h1>

<h1 class = 'instructions'>Already A Member?</h1>
<a href="{{url_for('signIn')}}">Log In here</a>


</div>



</body>
</html>



